@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Enschede</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Integer egestas nulla eget dui bibendum, id vestibulum ex aliquet. 
            Donec nec tortor eget purus sagittis lobortis. 
            Proin nec ligula id nisi hendrerit tempor. Phasellus egestas felis et pharetra scelerisque. Pellentesque mattis turpis finibus ligula porttitor, id tincidunt ante porttitor.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Welkom bij WagenPark</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas nulla eget dui bibendum, id vestibulum ex aliquet. Donec nec tortor eget purus sagittis lobortis. </p>
    </div>
    <div class="col-md-4">
        <h2>Hengelo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas nulla eget dui bibendum, id vestibulum ex aliquet. </p>
    </div>
</div>